@media screen and (max-width:1410px) 
{
    .container{
        flex-direction: column !important;
        align-items: center;
        padding: 0px !important;
         }
    .card{
        width: 100%;
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .footer{
        justify-content: end;
    }
}
    
